body{
    background-image:url("https://ak.picdn.net/shutterstock/videos/30049369/thumb/1.jpg") ;
}
.form{
    display:flex;
    flex-direction: column;
    align-items: center;
}
a{
    text-decoration: none;
}
#confirm{
    display: none;
}
h1{
    color:white
}
label{
    color:white;
}
button{
    margin: 10px;
}