.haha{
    color: red;
    text-decoration: underline;
}

#special{
    font-weight: bold;
}
h2{
    background-color: steelblue;
}
img{
    width: 500px;
    height: 400px;
    
}
.hinh{
    text-align: center;
}