
 .product{
     height:300;
     width:200;
 }
 
 .haha{
     font-weight: bold;
 }
 .product-div{
      border: black ridge;

      
 }
 .logo{
     height: 60px;
     width: 60px;
     margin: 0px 50px;
     
 }
 body{
     color: #555;
 }
 h1{
     color: #333;
     text-align: center;
     margin-bottom:100px ;
 }

 .flex-container{
     display: flex;
     flex-wrap: wrap;
 }

.menu{
    background-color: lightgray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.title{
    text-align: center;
}

#footer-container{
    
    display: flex;
    justify-content: center;
    margin: auto;
}

.mindx{
    margin-right: 20px;
}

.gop{
    background-color: lightgray;
}

.poster{
    text-align: center;
    margin: 10px ;
  width: 1470px;
  height: 900px;
    
    
}