
 .product{
     height:300;
     width:200;
 }
 
 .haha{
     font-weight: bold;
 }
 .product-div{
      border: white solid;
      
      width: 400px;

      
 }
 .logo{
     height: 60px;
     width: 60px;
     margin: 0px 50px;
     
 }
 body{
     color: #555;
 }
 h1{
     color: #333;
     text-align: center;
     margin-bottom:100px ;
 }

 .flex-container{
     display: flex;
     flex-wrap: wrap;
 }

.menu{
    background-color: lightgray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.title{
    text-align: center;
}

#footer-container{
    
    display: flex;
    justify-content: center;
    margin: auto;
}

.mindx{
    margin-right: 20px;
    

}

.gop{
    background-color: lightgray;
}

.poster{
    text-align: center;
    margin: 10px ;
  width: 1470px;
  height: 900px;
    
    
}

.product-div-container{
    margin-top: 20px;
    display: flex;
    justify-content:center ;
}

.product-display{
    border: white solid;
    margin:100px ;
    width: 70%;

}

.product-describe{
    width: 30%;
    padding-left: 10px;
}

.text-align{
    text-align: center;
}

.product-image{
        width: 800px;
        height: 800px;
}

select{
    width: 100px;
    font-size: 15px;
    border-radius: 5px solid;
}

